// FONT 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

// COMMON 

body{
    font-family: 'Roboto', sans-serif;
}

// colours

$bg_first_color: #2e3a46;
$bg_second_color: #1e2d3b;

$subtext_color: #807a75;